{% extends "base.html" %}
{% load static %}

{% block main %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-main bg-gradient py-0">
  <div class="container">
    <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url "home" %}">
            <div class="font-claris-sans"><i class="fa fa-receipt"></i> Resibo.ph</div>
          </a>
        </li>
      </ul>
      <form class="form-inline my-lg-0">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link d-block d-lg-none font-claris-sans" href="{% url "users:dashboard" %}">Dashboard</a>
              <a class="btn btn-dark d-none d-lg-block font-claris-sans" href="{% url "users:dashboard" %}">Dashboard</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link font-claris-sans" href="{% url "login" %}">Login &nbsp;</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-block d-lg-none font-claris-sans" href="{% url "signup" %}">Sign Up</a>
              <a class="btn btn-success d-none d-lg-block font-claris-sans" href="{% url "signup" %}">Sign Up</a>
            </li>
          {% endif %}
        </ul>
        <!-- {% if request.user.is_authenticated %}
              <a class="btn btn-dark d-none d-lg-block font-claris-sans" href="{% url "users:dashboard" %}">Dashboard</a>
          {% else %}
              <a class="font-claris-sans mr-2" href="{% url "login" %}">Login &nbsp;</a>
              <a class="font-claris-sans d-block d-lg-none" href="{% url "account_signup" %}">Sign Up</a>
              <a class="btn btn-success d-none d-lg-block font-claris-sans" href="{% url "account_signup" %}">Sign Up</a>
            </li>
          {% endif %} -->
      </form>
    </div>

  </div>
  
</nav>

  {% block content %}{% endblock %}
  <footer class="footer">
    <div class="container">
      <div class="row gap-y align-items-center">

        <div class="col-md-3 text-center text-md-left pl-0">
          <div class="font-claris-sans"><i class="fa fa-receipt"></i> Resibo.ph</div>
        </div>

        <div class="col-md-9">
          <div class="nav nav-bold nav-uppercase justify-content-center justify-content-md-end">
            <a href="{% url "support" %}" class="nav-link"><small>Support</small></a>
            <!-- <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Help</a>
            <a class="nav-link" href="#">Blog</a>
            <a class="nav-link" href="#">Policy</a>
            <a class="nav-link" href="#">Terms</a>
            <a class="nav-link" href="#">Contact</a> -->
          </div>
        </div>

        <div class="col-md-12 p-0">
          <hr class="my-0">
        </div>

        <div class="row mt-3">
          <div class="col-sm-12 text-center copy">
            &copy; 2020 info@iainnovations.com
            <a href="" class="text-white-50">Terms of Service</a> &nbsp;·&nbsp;
            <a href="" class="text-white-50">Privacy Policy</a>
          </div>
        </div>

      </div>
    </div>
  </footer><!-- /.footer -->

{% endblock %}
