.font-claris-sans {
    font-family: 'Claris Sans', sans-serif;
}

hr {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    border: 0 !important;
    border-top: 1px solid rgba(0,0,0,.1) !important;
}

a.hover {
    text-decoration: none;
}

a:hover, .custom-file-upload:hover:not(.is-active) {
    color: #363636;
    text-decoration: none;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgb(255 255 255 / 61%) !important;
}

#fullpage-form-wrapper {
    display: flex;
    justify-content: center;
}

#fullpage-form {
    margin: 2em;
    padding: 2em;
}

@media (min-width: 1281px) and (max-width: 1920px) {
    #fullpage-form {
        width: 30%;
        border-radius: 0.3em;
        box-shadow: 0 2px 4px rgb(55 63 67 / 30%);
        background-color: white;
    }
}

@media screen and (min-width: 769px) {
    #fullpage-form {
        width: 30%;
        border-radius: 0.3em;
        box-shadow: 0 2px 4px rgb(55 63 67 / 30%);
        background-color: #fff;
    }
}

